/AsientoTest.class
/CandyBarTest.class
/PeliculaAccionTest.class
/PeliculaComediaTest.class
/PeliculaDramaTest.class
/PeliculaInfantilTest.class
/PeliculaTerrorTest.class
/ProductoTest.class
/SalaCineTest.class
